.print-qr {
    display: none;
}

.form-select,
.form-control {
    background-color: #f9f9f9 !important;
    font-size: .8rem;
    font-weight: normal !important;
    color: gray !important;
}

@media print {
    .print-qr {
        display: block;
    }
    .team-add {
        display: none;
    }
}